In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

def select_query(conn, param):
    """
    Executes a SQL query from a string.

    :param conn: the Connection object
    :param param: The SQL query string
    :return: A list of tuples representing the query results, or None if an error occurs.
    """
    try:
        cur = conn.cursor()
        cur.execute(param)  # Execute the query directly
        rows = cur.fetchall()
        return rows  # Return the results
    except sqlite3.Error as e:  # Catch potential SQLite errors
        print(f"SQLite error: {e}")  # Print the error message
        return None  # Return None to indicate failure
    except Exception as e: # Catch other potential errors, such as syntax errors in the query
        print(f"An error occurred: {e}")
        return None

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

C:\cygwin64\tmp\ipykernel_60872\4020859373.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

In [ ]:
def get_table_names(conn):
    """Retrieves a list of table names from the database."""
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [table[0] for table in cursor.fetchall()]  # Extract table names from tuples
    return tables

def get_column_names(conn, table_name):
    """Retrieves a list of column names for a given table."""
    cursor = conn.cursor()
    try:
        cursor.execute(f"PRAGMA table_info({table_name});")
        columns = [column[1] for column in cursor.fetchall()]  # Extract column names
        return columns
    except sqlite3.OperationalError as e: # Handle the case where the table doesn't exist
        print(f"Error getting columns for table '{table_name}': {e}")
        return None

        
def run_query(query):
    try:     
        database = "sqlite_db_pythonsqlite.db"
        conn = create_connection(database)  # Connect to the database

        # Example 1: Simple SELECT query
        #query1 = "SELECT name FROM sqlite_master WHERE type='table';"  
        results1 = select_query(conn, query)

        if results1:
            for row in results1:
                print(row)

    except sqlite3.Error as e:
        print(f"Database connection error: {e}")
    finally:
        if conn:
            conn.close()  # Close the connection in a 'finally' block

def table_details():
    try:
        database = "sqlite_db_pythonsqlite.db"
        conn = create_connection(database)  # Connect to the database

        table_names = get_table_names(conn)

        if table_names:
            for table_name in table_names:
                column_names = get_column_names(conn, table_name)
                if column_names:
                    print(f"Columns for table '{table_name}': {', '.join(column_names)}")
                else:
                    print(f"Could not retrieve columns for table '{table_name}'.") # Handle the case where get_column_names returns None
        else:
            print("No tables found in the database.")

    except sqlite3.Error as e:
        print(f"Database error: {e}")
    finally:
        if conn:
            conn.close()

In [3]:
table_details()

Columns for table 'Bookings': bookid, facid, memid, starttime, slots
Columns for table 'Facilities': facid, name, membercost, guestcost, initialoutlay, monthlymaintenance
Columns for table 'Members': memid, surname, firstname, address, zipcode, telephone, recommendedby, joindate

### Q10

In [23]:
query = "SELECT name, SUM(membercost + guestcost) AS total_revenue FROM Facilities GROUP BY name HAVING SUM(membercost +guestcost) < 1000 ORDER BY total_revenue;"
run_query(query)

2.6.0
('Pool Table', 5)
('Snooker Table', 5)
('Table Tennis', 5)
('Badminton Court', 15.5)
('Squash Court', 21.0)
('Tennis Court 1', 30)
('Tennis Court 2', 30)
('Massage Room 1', 89.9)
('Massage Room 2', 89.9)

C:\cygwin64\tmp\ipykernel_60872\4020859373.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

### Q11

In [24]:
query = "SELECT surname, firstname, recommendedby FROM Members ORDER BY surname, firstname;"
run_query(query)

2.6.0
('Bader', 'Florence', '9')
('Baker', 'Anne', '9')
('Baker', 'Timothy', '13')
('Boothe', 'Tim', '3')
('Butters', 'Gerald', '1')
('Coplin', 'Joan', '16')
('Crumpet', 'Erica', '2')
('Dare', 'Nancy', '4')
('Farrell', 'David', '')
('Farrell', 'Jemima', '')
('GUEST', 'GUEST', '')
('Genting', 'Matthew', '5')
('Hunt', 'John', '30')
('Jones', 'David', '4')
('Jones', 'Douglas', '11')
('Joplette', 'Janice', '1')
('Mackenzie', 'Anna', '1')
('Owen', 'Charles', '1')
('Pinker', 'David', '13')
('Purview', 'Millicent', '2')
('Rownam', 'Tim', '')
('Rumney', 'Henrietta', '20')
('Sarwin', 'Ramnaresh', '15')
('Smith', 'Darren', '')
('Smith', 'Darren', '')
('Smith', 'Jack', '1')
('Smith', 'Tracy', '')
('Stibbons', 'Ponder', '6')
('Tracy', 'Burton', '')
('Tupperware', 'Hyacinth', '')
('Worthington-Smyth', 'Henry', '2')

C:\cygwin64\tmp\ipykernel_60872\4020859373.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

### Q12

In [18]:
query = "SELECT f.name, SUM(b.slots) AS member_usage FROM Bookings AS b JOIN Facilities AS f ON b.facid = f.facid JOIN Members AS m ON b.memid = m.memid WHERE b.memid IS NOT NULL GROUP BY f.name ORDER BY member_usage DESC;"
run_query(query)

2.6.0
('Massage Room 1', 1404)
('Tennis Court 1', 1320)
('Tennis Court 2', 1278)
('Badminton Court', 1209)
('Squash Court', 1104)
('Pool Table', 910)
('Snooker Table', 908)
('Table Tennis', 830)
('Massage Room 2', 228)

C:\cygwin64\tmp\ipykernel_60872\4020859373.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

### Q13

In [22]:
query = "SELECT f.name, strftime('%Y-%m', b.starttime) AS booking_month,  SUM(b.slots) AS member_usage FROM Bookings AS b JOIN Facilities AS f ON b.facid = f.facid JOIN Members AS m ON b.memid = m.memid WHERE b.memid IS NOT NULL GROUP BY f.name, booking_month ORDER BY booking_month, member_usage DESC;"
run_query(query)

2.6.0
('Tennis Court 1', '2012-07', 270)
('Massage Room 1', '2012-07', 264)
('Tennis Court 2', '2012-07', 207)
('Badminton Court', '2012-07', 180)
('Squash Court', '2012-07', 164)
('Snooker Table', '2012-07', 156)
('Pool Table', '2012-07', 117)
('Table Tennis', '2012-07', 104)
('Massage Room 2', '2012-07', 24)
('Massage Room 1', '2012-08', 492)
('Tennis Court 2', '2012-08', 483)
('Badminton Court', '2012-08', 459)
('Tennis Court 1', '2012-08', 459)
('Squash Court', '2012-08', 400)
('Snooker Table', '2012-08', 326)
('Pool Table', '2012-08', 322)
('Table Tennis', '2012-08', 304)
('Massage Room 2', '2012-08', 82)
('Massage Room 1', '2012-09', 648)
('Tennis Court 1', '2012-09', 591)
('Tennis Court 2', '2012-09', 588)
('Badminton Court', '2012-09', 570)
('Squash Court', '2012-09', 540)
('Pool Table', '2012-09', 471)
('Snooker Table', '2012-09', 426)
('Table Tennis', '2012-09', 422)
('Massage Room 2', '2012-09', 122)

C:\cygwin64\tmp\ipykernel_60872\4020859373.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)